// Structure rules.
// In general, this will be layout, cadence, order, boxes, etc.

@use "../settings";

body {
  max-width: 60em;
  margin: 0 auto;
  line-height: var(--cadence);
}

.site-header {
  padding: var(--cadence-half) var(--cadence);
  width: 100%;
  min-height: var(--cadence-double);
  display: grid;
  grid-template-columns: [name] min-content [tagline] auto;
}

.project-name {
  margin: var(--cadence-half) var(--cadence-double) var(--cadence-half) 0;
  padding-right: var(--cadence-double);
  grid-area: name;
  line-height: var(--cadence-double);
  min-height: var(--cadence-double);
  display: flex;
  align-items: center;
}

.project-tagline {
  margin: var(--cadence-half) 0;
  min-height: var(--cadence-double);
  line-height: var(--cadence);
  grid-area: tagline;
  display: flex;
  align-items: center;
}

#page {
  padding: var(--cadence);
}

.site-footer {
  text-align: right;
  margin-top: var(--cadence-double);
  padding: var(--cadence);
}

ul, ol {
  padding-left: var(--cadence);
}

h1, h2, h3, h4, h5, h6, blockquote, ul, li, ol, dl, dt, dd {
  margin: var(--cadence) 0;

  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  min-height: var(--cadence-double);
  line-height: var(--cadence-double);
}

h1, h2 {
  margin-top: var(--cadence-double);
}
